.controls {
  background-color: bisque;
  width: 200px;
  height: 800px;
  position: absolute;
  left: 515px;
}

.controls div {
  padding: 0.5rem;
}

.controls label {
  display: inline-block;
  width: 80px;
}

.controls input {
  width: 80px;
}
